.font-inter {
    font-family: "Inter", sans-serif;
}

.active-category {
    background-color: #15803D !important;
    color: white !important;
}

html {
    scrollbar-gutter: stable;
}

/* for navbar centred items */
/* .navbar .menu li>a:hover,
.navbar .menu li>a:focus,
.navbar .menu li>a:active {
    background-color: #15803d;
}  */
